.home-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
  font-family: 'Roboto';
}

.home-heading {
  font-size: 35px;
  color: #ffffff;
  line-height: 1.5;
}
.para-home {
  color: #cbd5e1;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.home-button {
  font-size: 13px;
  color: #ffffff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  background-color: #6366f1;
}
@media (min-width: 768px) {
  .home-bg {
    padding: 50px;
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  }
  .home-heading {
    font-size: 50px;
    width: 500px;
  }
  .para-home {
    width: 500px;
    margin-bottom: 30px;
  }
}
